/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
/*.text_sort{
padding: 5px;
font-size: 14px;

}

.sort_a{
	font-size: 14px;
	padding: 0px;
}
}*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	
	nav{
		height: 60px;
		line-height: 60px;
		background-color: #fff;
	}
	.top_line{
		display: none;
	}
	.menu_btn{
		height: 40px;
		width: 40px;
		background-color: #68AAB2;
	}
	.menu_btn span{
		top: -15px;
		color: #fff;
	}
	#top_menu{
	background-color: #fff;
	border-bottom: 1px;
	border-color:#C3D2CC ; 
	}

	.menu li{
		display: block;
		color: #68AAB2;
	}

	.menu li a{
		display: block;
		color: #68AAB2;
	}

	.menu li a:hover, .menu li a:focus{
	     color: #9CC9CE;
     }

     .story_block span {
		line-height: 0.5em;
        font-size: 10px; 
	}

	.line1{
		display: none;
	}

	.line2{
		margin-top: 0px; 
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	nav {
		height: 60px;
		line-height: 60px;
		background-color: #fff;


	}

	.menu_btn{
		height: 40px;
		width: 40px;
		background-color: #68AAB2;
	}

	.menu_btn span{
		top: -15px;
		color: #fff;
	}
	

	#top_menu{
	background-color: #fff;
	border-bottom: 1px;
		border-color:#C3D2CC ; 
	}

		.menu li{
		display: block;
		color: #68AAB2;
	}

	.menu li a{
		display: block;
		color: #68AAB2;
	}

	.menu li a:hover, .menu li a:focus{
	     color: #9CC9CE;
     }
	.story_block h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	}
	.story_block span {
		display: none;
	}
	.story_block h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	nav{
		height: 60px;
		line-height: 60px;
		background-color: #fff;
	}

	.menu_btn{
		height: 40px;
		width: 40px;
		background-color: #68AAB2;
	}
	.menu_btn span{
		top: -15px;
		color: #fff;
	}
	#top_menu{
	background-color: #fff;
	border-bottom: 1px;
	border-color:#C3D2CC ; 
	}
	.menu li{
		display: block;
		color: #68AAB2;
	}

	.menu li a{
		display: block;
		color: #68AAB2;
	}

	.menu li a:hover, .menu li a:focus{
	     color: #9CC9CE;
     }

     .story_block h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	}
	.story_block span {
    display: none;
	}

	.story_block h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:8px;
	}

	

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}