body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}


/*HEADER*/
header{
	height: 480px;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	height: 94px;
	line-height: 94px; /*âûñîòà ñòðîêè*/
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	z-index: 9999;
}
#nav-history-form{
    height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 9999;
}

.menu{
	list-style-type: none;
}

.menu li{
	display: inline-block;
	padding: 0 30px;
}

.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'RalewayBold', sans-serif; 
}

.menu li a:hover, .menu li a:focus{
	text-decoration: none;
	color: #68AAB2;
}

.top_line{
	height: 1px;
	background: #9CC9CE;  
}
.line1{
	height: 2px;
	background: #9CC9CE;
	margin-top:0px;
}

.line2{
	margin-top:90px;
	height: 2px;
	background: #9CC9CE;
	position: relative;
}

.tittle_block{
	color: #fff;
	text-align:center;
	margin-top: 150px;
}
.tittle_block h1{
	font-size: 50px;
	font-family: 'RalewayBold', bold; 
	margin-bottom: 30px;
}

.tittle_block p{
	font-size: 18px;
	margin-bottom: 50px;
	line-height: normal;

}

/*Sort*/

.text_sort{
margin-top: 25px;
font-family: "RalewayRegular", sans-serif;
font-size: 18px;
font-weight: bold;
color: #245681;

}


.text_sort_profile{  
margin-top: 25px;
font-family: "RalewayRegular", sans-serif;
font-size: 18px;
font-weight: bold;
color: #245681;
text-align: center;
}

.text_sort_profile_span{
margin-top: 32px;
font-family: "RalewayRegular", sans-serif;
font-size: 18px;
font-weight: bold;
color: #245681;
text-align: center;
}

.text_sort_status{  
margin-top: 25px;
font-family: "RalewayRegular", sans-serif;
font-size: 15px;
font-weight: bold;
color: #245681;
text-align: left;
}

.sort{
	margin-top: 15px; 

}
.contain h1{
	margin-top: 100px;
}

#search_form{
	margin-top: 25px;
}

/*Story*/

.story{
	padding: 10px;

}


.story_block {
    display:inline-block;   
    position:relative;
}

.example_text {
    
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
    color:#fff;     
    padding:10px;
    background-color:rgba(0,0,0,.3);
    text-align:center;
 
   
}

.story_block h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.story_block span,
.story_block p
.story_block a {
    font-size: 14px; 
}

.text{
    float:right;
    color:#fff;
}
.delete{
    float:left;
    color:#fff;
}

.story_block a:hover img{
	border: 2px solid #fff;
}


/*New Story*/

.new_story{
	
	margin-top: 65px;

}


.new_story_block {
    display:inline-block;   
    position:relative;
}


.new_story_block h5,
.new_story_block p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 0.5em;
}

.new_story_block a:hover img{
	border: 2px solid #fff;
}
/*filtr-city*/

.filtr-city{
	margin-top: 70px; 
    
}

.filtr-city a{
    border-radius: 0;
    display:block;
    width:100%
}
.btn-filtr button{
    border-radius: 0;
    display:block;
    width:100%
}




/*FOOTER*/
.footer{
	padding: 15px;
	margin-top:20px;
}

/*	HOSTOTY_FORM*/
.header_history_form{
	height: 100px;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;

}

/*LOGIN*/
.contain_login{
	height: auto;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

/*STORY_FORM*/
.button{
    font-size: 18px;
border: solid 1px #06B8F3;
	background: #00B4EF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00CBF4), to(#06B8F3));
	background: -moz-linear-gradient(top,  #00CBF4,  #06B8F3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CBF4', endColorstr='#06B8F3');
	color: #fff;
padding: 7px 12px; 
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
float: right;
cursor: pointer;
margin-top: 15px;
margin-bottom: 15px;
}

.button-profile{
    font-size: 18px;
border: solid 1px #06B8F3;
    background: #00B4EF;
    background: -webkit-gradient(linear, left top, left bottom, from(#00CBF4), to(#06B8F3));
    background: -moz-linear-gradient(top,  #00CBF4,  #06B8F3);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CBF4', endColorstr='#06B8F3');
    color: #fff;
padding: 7px 12px; 
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
cursor: pointer;
margin-top: 15px;
margin-bottom: 15px;
}



.button:hover{
background: #06B8F3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00AFF4), to(#00A3E4));
	background: -moz-linear-gradient(top,  #00AFF4,  #00A3E4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AFF4', endColorstr='#00A3E4');
} 

.form-group{
    margin-top: 20px;}

.form-group input{
    margin-top: -20px;}

.label_history{
    float:left;
}
.foto
{
    float:left;
    padding-right: 15px;
}
.input-foto1{
    margin-top: 30px;
    margin-left: 194px;
    position: absolute;
}
.input-foto{
    float:left;
}

.select_city{
 
    margin-top:-10px;
    margin-bottom:20px;
}
.select_city1{
    text-align: center;
    margin-bottom:20px;
}

.city_story li{
    color: black;
}

.block_like{
    width: 150px;
    margin: 0 42%;
}
#like{
    cursor: pointer;
    border: 1px solid #C5C5C5;
    background-color: #EEEEEE;
    padding: 3px 4px;
    margin: 0;
}
#like:hover{
    background-color: #F2F2F2;
}

#likegoodcount{
    margin: 3px 4px;
    display: inline-block;
    
    
}
#link-send-review{
    margin-top: 10px;
}
#link-send-review a{
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font: bold 13px sans-serif;
    border-bottom: 1px dashed #EF662B;
    color: #EF662B;
}

#link-send-review a:hover{
    border-bottom: none;
}

#link-send-bad{
    float:right;
    margin-top: 10px;
}
#link-send-bad a{
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font: bold 13px sans-serif;
    border-bottom: 1px dashed #EF662B;
    color: #EF662B;
}

#link-send-bad a:hover{
    border-bottom: none;
}

.block-reviews{
    width: 100%;
    text-align: left;
    float: left;
    border-bottom: 1px dashed #D8D8D8;
    margin-top: 20px;
}
.author-date{
    font: 14px sans-serif;
    margin-left: 20px;
    color: #8C8C8C;
}
.text-comment{
    font: 15px sans-serif;
}

#send-review{
    display: none;
    width: 400px;

}
#send-bad{
    display: none;
    width: 400px;
    height: 450px;
}

#title-review{
    font: 14px sans-serif;
    margin-right: 50px;
    color: #8C8C8C;
}

#title-bad{
    font: 14px sans-serif;
    margin-right: 50px;
    color: #8C8C8C;
}

#send-review input{
    width: 234px;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    border: 1px solid #DBDBDB;
}

#send-bad input{
    width: 234px;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    border: 1px solid #DBDBDB;
}
#send-review textarea{
    width: 230px;
    height: 70px;
    margin-right: 50px;
    border: 1px solid #DBDBDB;
}
#send-bad textarea{
    width: 230px;
    height: 70px;
    margin-right: 50px;
    border: 1px solid #DBDBDB;
}
#label-name{
    font: 14px sans-serif;
    margin-right: 10px;
}

#label-comment{
    position: absolute;
    font: 14px sans-serif; 
    margin-left: -106px;     
}
#reload-img{
    display: none;
    margin-top: 35px;
    margin-left: 295px;
}
li {
list-style-type: none; /* Убираем маркеры */
}


#button-send-bad{
    cursor: pointer;
    background: url(/img/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
    margin-top: 25px;
    margin-left: 270px;
}
#button-send-bad:active{
    background: url(/img/button-send-active.png) no-repeat;
}

#button-send-review{
    cursor: pointer;
    background: url(/img/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
    margin-top: 25px;
    margin-left: 270px;
}
#button-send-review:active{
    background: url(/img/button-send-active.png) no-repeat;
}
#bad_comment{
    float: right;
    cursor: pointer;
}


#bad_comment:active{
    border-bottom: 1px dashed #D8D8D8;
}

#bad_comment:hover{
    border-bottom: 1px dashed #D8D8D8;
}

.avtor_img img{
    margin-top: 10px;
    margin-left: 10px;
}

/*WORKS SECTION*/
.work_block{
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.image_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.work_descr{
    color: #fff;
    text-align: center;
    margin: auto;
}

.form-horizontal .main-checkbox{
 float: left;
 width: 20px;
 height: 20px;
 background: #11a3fc;
 border-radius: 50%;
 position: relative;
 margin: 5px 0 0 5px;
 border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
 content: "";
 width: 10px;
 height: 5px;
 position: absolute;
 top: 5px;
 left: 4px;
 border: 3px solid #fff;
 border-top: none;
 border-right: none;
 background: transparent;
 opacity: 0;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
 visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
 opacity: 1;
}

#title-review{
    font: 14px sans-serif;
    margin-right: 50px;
    color: #8C8C8C;
}

#send-pass {
  display: none;
}

#send-pass input{
    width: 234px;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    border: 1px solid #DBDBDB;
}

#label-name{
    font: 14px sans-serif;
    margin-right: 10px;
}

#reload-img{
    display: none;
    margin-top: 35px;
    margin-left: 295px;
}
li {
list-style-type: none; /* Óáèðàåì ìàðêåðû */
}


#button-send-pass{
    cursor: pointer;
    background: url(/img/button-send.png) no-repeat;
    width: 81px;
    height: 31px;
    margin-top: 25px;
    margin-left: 270px;
}
#button-send-pass:active{
    background: url(/img/button-send-active.png) no-repeat;
}



.input-foto{
margin-left: 100px;
}

#form-success{
    width: auto;
    color: white;
    background-color: #68AAB2;
    border: 1px solid #C5C9C2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}
#form-error{
    width: auto;
    font:bold 14px sans-serif;
    color: red;
    background-color: #fff;
    border: 1px solid #CE8787;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#msgerror{
    width: auto;
    font:bold 14px sans-serif;
    color: red;
    background-color: white;
    border: 1px solid #CE8787;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

input[type=file]{
display: inline;
}
.text-center {
    text-align: left;
}
.text_lest{
    text-align: center;
}

.avtor-img{
    margin-top: 60px;
}
.foto-foto{
    display: block;
    margin-top: 30px;
    position: absolute;
}

/* Ôîðìèðóåì áëîê àêêîðäåîíà */
.accordion {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden;
}
/* ñïèñîê àêêîðäåîíà */
.accordion>ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.accordion>ul>li {
    list-style:none;
    display:block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height:33px;
    max-width: 300px;
    border: 1px solid #d3d3d3;
/* çàäåðæêà ïåðåõîäà ïðè ðàñêðûòèè */
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
}

.category-section li>a{
    font: 15px sans-serif;
    color: black;
}
.category-section li{
    list-style:none;
    width: 100%;
}
/* îôîðìëÿåì ïóíêòû */
.accordion>ul>li>a {
    display:block;
    margin: 0 auto;
    padding:10px 20px;  
    color: #6c6c6c;
    text-decoration: none;
    font: 14px  Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fff;
    text-transform:uppercase;
    background: #fff;
    border-color: #ccc;
    background-color: #fff;
/* àíèìèðóåì çàãîëîâîê */
   -o-transition: padding-left 250ms ease-out;
   -webkit-transition: padding-left 250ms ease-out;
   -moz-transition: padding-left 250ms ease-out;
}
/* áëîê ñ ñîäåðæàíèåì */

.accordion>ul>li>a {
    color: #333;
    margin: 0 auto;
    padding:10px;
    color: #555;
    font-size: 14px;
    height: 100%;
}
.accordion>ul>li:hover {
    height: auto;
}
/* ïóíêòû àêêîðäåîíà ïðè íàâåäåíèè */
.accordion:hover>ul>li:hover>a {
    /* îôîðìëÿåì ïóíêòû ïðè íàâåäåíèè */
    color: #3A505C;
    background: #d3d3d3;
    cursor:pointer;
    /* ãðàäèåíò */
    background-image: -moz-linear-gradient( top, #d3d3d3, #efefef);
    background-image: -ms-linear-gradient( top, #d3d3d3, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#efefef));
    background-image: -o-linear-gradient(#dbdbdb, #e6e6e6); /* Opera */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d3d3d3', endColorstr='#efefef')"; /* IE 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr= '#d3d3d3', endColorstr= '#efefef')";   /* IE 8 */
/* ïîäâèæíàÿ ññûëêà */
   padding-left: 30px;
}
/* ïàðàãðàôû âíóòðè àêêîðäåîíà */
.accordion p { margin: 0 0 10px }
/* ìèíèàòþðû èçîáðàæåíèé */
.accordion img{ width: 25%; height: auto}

.text-center-story{
    text-align: center;
}