body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}


/*HEADER*/
header{
	height: 480px;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

nav{
	height: 94px;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	z-index: 9999;
}

.menu{
	list-style-type: none;
}

.menu li{
	display: inline-block;
	padding: 0 30px;
}

.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'RalewayBold', sans-serif; 
}

.menu li a:hover, .menu li a:focus{
	text-decoration: none;
	color: #68AAB2;
}

.top_line{
	height: 1px;
	background: #9CC9CE;  
    margin-top:10px;
}
.line1{
	height: 2px;
	background: #9CC9CE;
	margin-top:0px;
}

.line2{
	margin-top:70px;
	height: 2px;
	background: #9CC9CE;
	position: relative;
}

.tittle_block{
	color: #fff;
	text-align:center;
	margin-top: 150px;
}

.tittle_block h1{
	font-size: 50px;
	font-family: 'RalewayBold', bold; 
	margin-bottom: 30px;
}

.tittle_block p{
	font-size: 18px;
	margin-bottom: 50px;

}

/*Сортировка*/

.text_sort{
margin-top: 33px;
font-family: "RalewayRegular", sans-serif;
font-size: 18px;
font-weight: bold;
color: #245681;

}

.sort{
	margin-top: 15px; 

}
.contain h1{
	margin-top: 100px;
}

#search_form{
	margin-top: 25px;
}

/*Story*/

.story{
	padding: 10px;

}


.story_block {
    display:inline-block;   
    position:relative;
}

.example_text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,.3);
 
     
}
.story_block h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.story_block span {
    font-size:14px; 
}

.story_block a:hover img{
	border: 2px solid #fff;
}


/*New Story*/

.new_story{
	
	margin-top: 70px;

}


.new_story_block {
    display:inline-block;   
    position:relative;
}

.example_text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,.3);
 
     
}
.new_story_block h5, p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    line-height: 0.5em;
}

.new_story_block a:hover img{
	border: 2px solid #fff;
}
/*filtr-city*/

.filtr-city{
	margin-top: 70px; 
}

/*FOOTER*/
.footer{
	padding: 15px;
	margin-top:20px;
}

/*	HOSTOTY_FORM*/
.header_history_form{
	height: 100px;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;

}

/*LOGIN*/
.contain_login{
	height: auto;
	background-image: url('../img/banner1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

/*STORY_FORM*/
.button{
    margin-top: 15px;
    font-size: 18px;
border: solid 1px #06B8F3;
	background: #00B4EF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00CBF4), to(#06B8F3));
	background: -moz-linear-gradient(top,  #00CBF4,  #06B8F3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CBF4', endColorstr='#06B8F3');
	color: #fff;
padding: 14px 18px; 
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
float: right;
cursor: pointer;
}


.button:hover{
background: #06B8F3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00AFF4), to(#00A3E4));
	background: -moz-linear-gradient(top,  #00AFF4,  #00A3E4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AFF4', endColorstr='#00A3E4');
} 
.form-group{
    margin-top: 20px;}

.label_history{
    float:left;
}
.foto
{
    float:left;
    padding-right: 15px;
}
.input-foto1{
    margin-top: 30px;
    margin-left: 194px;
    position: absolute;
}
.input-foto{
    float:left;
}

.select_city{
 
    margin-top:-10px;
    margin-bottom:20px;
}
.select_city1{
    text-align: center;
    margin-bottom:20px;
}
#form-success{
    width: auto;
    color: white;
    background-color: #68AAB2;
    border: 1px solid #C5C9C2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
}
#form-error{
    width: auto;
    font:bold 14px sans-serif;
    color: red;
    background-color: #fff;
    border: 1px solid #CE8787;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
#msgerror{
    width: auto;
    font:bold 14px sans-serif;
    color: red;
    background-color: white;
    border: 1px solid #CE8787;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.avtor-img{
    margin-top: 60px;
}
.foto-foto{
    display: block;
    margin-top: 30px;
    position: absolute;
}

.text-center-edit-profile {
    text-align: left;
}
.text_lest{
    text-align: center;
}

